# Создайте файл .env из копии этого файла и замените значения переменных реальными данными
# Файл .env необходимо добавитьт в .gitignore по соображениям безопасности

# Данные для подключения к PostgreSQL

DB_HOST=localhost
DB_PORT=5432
DB_NAME=hh_parser
DB_USER=postgres
DB_PASSWORD=postgres

# ID компаний для обработки вакансий (ID через запятую без пробелов)
# Примеры hh ID - Компания:
# 1057 - "Лаборатория Касперского"
# 1740 - "Яндекс"
# 2180 - "Ozon"
# 3388 - "Газпромбанк"
# 3529 - "СБЕР"
# 15478 - "VK"
# 64174 - "2ГИС"
# 78638 - "Т-Банк"
# 84585 - "Авито"
# 1122462 - "Skyeng"

COMPANY_IDS=999999,999999,...