# Создайте файл .env из копии этого файла и замените значения переменных реальными данными
# Файл .env необходимо добавитьт в .gitignore по соображениям безопасности

# Данные для подключения к PostgreSQL

DB_HOST=localhost
DB_PORT=5432
DB_NAME=hh_parser
DB_USER=postgres
DB_PASSWORD=postgres

# ID компаний для обработки вакансий (ID через запятую без пробелов)

COMPANY_IDS=999999,999999,...